<h2>Edit Post</h2>
<h4>Title</h4>
<input type="text" class="form-control" ng-model="form.title" placeholder="Title">
<h4>Body</h4>
<textarea class="form-control" ng-model='form.text' placeholder="Body"></textarea><br>
<button type="btn" class="btn btn-default" ng-click='editPost()'>Save</button>
<a href="#/listPost"><button type="btn" class="btn btn-default">Back</button></a>